.asandwich{
width: 700px;
position: absolute;
top: 110px;
left:-300px;
z-index: 1;
}

.title {
   color: white;
}
 
// protein

   .awhite-bread {
      width: 400px;
      position: absolute;
      top:-200px;
      left: 450px;
      z-index: 2;
   }

      .awheat-bread {
      width: 400px;
      position: absolute;
      top:-200px;
      left: 450px;
      z-index: 2;
   }

      .arye-bread {
      width: 400px;
      position: absolute;
      top:-200px;
      left: 450px;
      z-index: 2;
   }   

   .agrilled-chicken{
      position: absolute;
      width: 300px;
      z-index: 10;
      left: 480px;
   }

   .agrilled-chicken{
      position: absolute;
      width: 300px;
      top: -300px;
      z-index: 10;
      left: 480px;
   }

   .asmoked-salmon{
      position: absolute;
      width: 300px;
      z-index: 10;
      left: 480px;
   }

   .aeggs{
      position: absolute;
      width: 300px;
      z-index: 10;
      left: 480px;
   }

   .asalami{
      position: absolute;
      width: 300px;
      z-index: 10;
      left: 480px;
   }

//toppings


.alettuce{
   position: absolute;
   z-index: 12;
   width: 210px;
   left: 515px;
}

.atomato{
   position: absolute;
   z-index: 12;
   width: 210px;
   left: 515px;
}

.aavocado{
   position: absolute;
   z-index: 12;
   width: 210px;
   left: 515px;
}

.aonions{
   position: absolute;
   z-index: 12;
   width: 210px;
   left: 515px;
}

.aamerican-cheese{
   position: absolute;
   z-index: 12;
   width: 210px;
   left: 515px;
}


.aswiss-cheese{
   position: absolute;
   z-index: 12;
   width: 210px;
   left: 515px;
}


//condiment

.aketchup {
   opacity: 0;
   position: absolute;
   z-index: 20;
   width: 200px;
   left: 530px;
   top: 350px;
}

.amustard{
   opacity: 0;
   position: absolute;
   z-index: 20;
   width: 200px;
   left: 530px;
   top: 350px;
}

.amayonnaise{
   opacity: 0;
   position: absolute;
   z-index: 20;
   width: 200px;
   left: 530px;
   top: 350px;
}


