.awhite-bread {
   width: 400px;
   position: absolute;
   left: 460px;
   opacity: 0;
   z-index: 2;
}

.agrilled-chicken{
   position: absolute;
   width: 300px;
   z-index: 10;
   left: 480px;
}

.asandwich{
width: 650px;
position: absolute;
z-index: 1;
}

.atomato{
   position: absolute;
   z-index: 20;
   width: 300px;
   left: 480px;
   
}


