.image-content {
  height: 500px;
  
  .white-bread {
      width: 500px;
      position: absolute;
      left: 0px;
      top: 20px;
      z-index: 1;

   }


.bread-bite {
      width: 700px;
      position: absolute;
      z-index: 100;
      left: 400px;
      top: 20px;
   }

     .trans-bread {
      width: 500px;
      position: absolute;
      left: 0px;
      top: 20px;
      opacity: 0;
      z-index: 100;
   }

   .chicken1 {
      width: 600px;
      position: absolute;
      z-index: 2;
      left: 0px;
      top: 0px;
      opacity: 0;
   }
 

   .chicken2 {
      width: 600px;
      position: absolute;
      z-index: 2;
      left: 0px;
      top: 0px;
      opacity: 0;
   }
 

 .light-onion {
      width: 200px;
      position: absolute;
      z-index: 2;
      left: 540px;
      top: 300px;
   }

   .dark-onion {
      width: 200px;
      position: absolute;
      z-index: 2;
      left: 600px;
      top: 300px;
   }
 
    .dark-onion2 {
      width: 200px;
      position: absolute;
      z-index: 2;
      left: 600px;
      top: 350px;
   }

  .light-onion2 {
      width: 200px;
      position: absolute;
      z-index: 2;
      left: 540px;
      top: 270px;
   }

    .dark-onion3 {
      width: 200px;
      position: absolute;
      z-index: 2;
      left: 699px;
      top: 265px;
   }

  .light-onion3 {
      width: 200px;
      position: absolute;
      z-index: 2;
      left: 600px;
      top: 200px;
   }

   h1 {
      position: absolute;
      top: 415px;
      left: 622px;
      font-size: 36px;

   }

}

svg {
   position: absolute;
   top:-10px;
   left: 400px;
   z-index: 40;
   width: 60%;

}
.st1 {
  width: 60%;
  opacity: 1;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear forwards ;

}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

h2 {
      position: absolute;
      z-index: 1000;
      font-size: 64px;
      left: 600px;
      top: 350px;
      color: #FFEB3B;
}

