
   .header {
      margin-top: -55px;

      h1 {
      font-family: 'Oswald';
      text-align: center;
      color: white;
      letter-spacing: .2px;
      }

   }

   .image-content {
      width: 500px;

   }


   .options {
      height: 150px;
      margin-top: -20px;
      z-index: 10000;
      ul {
      }

      li {
      
      }

   }





   .review-options {
      table{
         position: relative;
         border-bottom: 0px;
      }
   }
