<%= white_bread_svg %>

<div class="start-order">
   <div class="header">
      <h1> Start Your Order </h1>
   </div>
   <div class="menu-items">
      <ul class="menu-items-list"> 
         <li><p> Sandwich </p></li>
         <li><p> Pizza </p></li>
         <li><p> Salad </p></li>
         <li><p> Hamburger</p></li>
      </ul>
   </div>
</div>

<div class="base">
   <div class="header">
      <h1> Choose Your Base </h1>
   </div>

   <div class="menu-items">
      <ul> 
         <li><p> White Bread </p></li>
         <li><p> Whole Wheat Bread </p></li>
         <li><p> Rye Bread </p></li>
      </ul>
   </div>
</div>

<div class="protein">
   <div class="header">
      <h1> Choose Your Protein </h1>
   </div>
   <div class="menu-items">
       <ul> 
         <li><p> Chicken </p></li>
         <li><p> Beef </p></li>
         <li><p> Smoked Salmon </p></li>
         <li><p> Eggs </p></li>
         <li><p> Sausage </p></li>
      </ul>
   </div>
</div>


<div class="toppings">
   <div class="header">
      <h1> Choose Your Toppings </h1>
   </div>
   <div class="menu-items">
       <ul> 
         <li><p> Lettuce </p></li>
         <li><p> Tomato </p></li>
         <li><p> Avocado </p></li>
         <li><p> Onions</p></li>
         <li><p> American Cheese </p></li>
         <li><p> Chedder Cheese </p></li>
      </ul>
   </div>
</div>