<div class="start-order">
   <div class="header">
      <h1> Start Your Order </h1>
      <h2> Choose Your Dish </h2>
   </div>
   <div class="menu-items">
      <ul class="menu-items-list"> 
         <li><p> Sandwich </p></li>
         <li><p> Pizza </p></li>
         <li><p> Salad </p></li>
         <li><p> Hamburger</p></li>
      </ul>
   </div>
</div>

<div class="base">
   <div class="header">
      <h1> Choose Your Base </h1>
      <h2> For Your Sandwhich </h2>
   </div>

   <div class="menu-items">
      <ul> 
         <li><p> White Bread </p></li>
         <li><p> Whole Wheat Bread </p></li>
         <li><p> Rye Bread </p></li>
      </ul>
   </div>
</div>