<div id="inner-shield-1" class="shield">
  <div class="image-content"> 
      <img class="white-bread", src="homepage/white-bread.png">
      <img class="chicken1 ", src="homepage/chicken.png">
      <img class="chicken2 ", src="homepage/chicken.png">      
      <img class="dark-onion", src="homepage/dark-onion.png">
      <img class="light-onion", src="homepage/light-onion.png">
      <img class="dark-onion2", src="homepage/dark-onion.png">
      <img class="light-onion2", src="homepage/light-onion.png">
      <img class="dark-onion3", src="homepage/dark-onion.png">
      <img class="light-onion3", src="homepage/light-onion.png">
  <!--Ketchup-svg goes here -->
      <img class="trans-bread", src="homepage/transparent_bread.png">
      <h1 class="title"> Feed.me </h1>
  </div>
</div>

<div id="inner-shield-2" class="shield">
  <div class="header">
    <h1> What would you like? </h1>
    <div class="options">
    <ul>
      <li><button class="sandwich choice button" data-choice="sandwich"> Sandwich</button> </li>
      <li><button class="hamburger choice button" data-choice="hamburger"> Hamburger</button> </li>
      <li><button class="salad choice button" data-choice="salad">   Salad  </button> </li>   
      <li><button class="pizza choice button" data-choice="pizza">  Pizza  </button></li>
    </ul>                                     
  </div>
  </div>
  <div class="image-content">
  </div>
</div>


<div id="inner-shield-3" class="shield">
  <div class="header">
    <h1> Choose Your Base </h1>

    <div class="options">
    <ul class="hamburger-base">
    </ul> 
    
    <ul class="sandwich-base">
    </ul>    
    
    <ul class="salad-base">
    </ul>   
    
    <ul class="pizza-base">
    </ul>                                  

  </div>
  
  </div>
  <div class="image-content">
  </div>
  
</div>



<div id="inner-shield-4" class="shield">
  <div class="header">
    <h1> Choose Your Protein </h1>
    <div class="options">
    <ul class="hamburger-protein">
    </ul> 
    
    <ul class="sandwich-protein">
    </ul>    
    
    <ul class="salad-protein">
    </ul>   

    <ul class="pizza-protein">
    </ul>                                  
  </div>

  </div>
  <div class="image-content">
  </div>

</div>


<div id="inner-shield-5" class="shield">
  <div class="header">
    <h1> Choose Your Toppings </h1>
      <div class="options">
        <ul class="hamburger-topping">
        </ul> 
        
        <ul class="sandwich-topping">
        </ul>    
        
        <ul class="salad-topping">
        </ul>   

        <ul class="pizza-topping">
        </ul>                                  
    </div>
  </div>
  <div class="image-content">
  </div>
 </div>


               
<div id="inner-shield-6" class="shield">
  <div class="header">
    <h1> Choose Your Condiments </h1>
     <div class="options">
        <ul class="hamburger-condiment">
        </ul> 
        
        <ul class="sandwich-condiment">
        </ul>    
        
        <ul class="salad-condiment">
        </ul>   

        <ul class="pizza-condiment">
        </ul>                             
    </div>
  </div>
  <div class="image-content">
  </div>
</div>   

<div id="inner-shield-7" class="shield">
  <div class="header">
    <h1> Reivew Your Order </h1>
  </div>
  <div class="image-content">
  </div>
  <div class="review-options">
    <br>
    <table>
      <tr>
        <td><h6> Main </h6></td>
        <td><p id="review-food"></p></td>
      </tr>
      
      <tr>
        <td><h6> Base </h6></td>
        <td><p id="review-base"> </p></td>
      </tr>

      <tr>
        <td><h6> Protein </h6></td>
        <td><p id="review-protein"> </p></td>
      </tr>
      
      <tr>
        <td><h6> Topping </h6></td>                               
        <td><p id="review-topping"> </p></td>
      </tr>
      
      <tr>
        <td><h6> Condiment </h6></td>                            
        <td><p id="review-condiment"> </p></td> 
      </tr>
    </table>
    <button> Checkout </button>
  </div>
</div>  

<div class="animation">

</div>
