<!-- 
<div class="conveyer">
</div>

<div class="welcome-1">
   <div class="header">
   <span> <h1> Welcome to the Creator </h1> </span>
      <p> Create your food in 3 simple steps </p> </ br>
      <p> (1) Choose your food </p>
      <p> (2) Choose your base </p>
      <p> (3) Choose your toppings </p>
      <p> (4) Choose your sauce! </p>

      <div class="inner-content-button">
         <button> Get Started </button>
      </div>
   </div>
   </div>

<div class="start-order-2">
   <div class="header">
      <h1> Start Your Order </h1>
   </div>
   <div class="menu-items">
      <ul class="menu-items-list"> 
         <% @products.each do |p| %>
        <li><button><%= p.name %></button></li> 
         <% end %>
      </ul>

   </div>
</div>



<div class="base-3">
   <div class="header">
      <h1> Choose Your Base </h1>
   </div>

   <div class="menu-items">
      <ul> 
         <% @components.each do |p| %>
        <li><button> <%= p.name %> </button></li> 
         <% end %>
      </ul>
   </div>
</div>

<div class="protein-4">
   <div class="header">
      <h1> Choose Your Protein </h1>
   </div>
   <div class="menu-items">
       <ul> 
          <% @options.each do |p| %>
        <li><p> <%= p.name %> </p></li> 
         <% end %>
      </ul>
   </div>
</div>


<div class="toppings-5">
   <div class="header">
      <h1> Choose Your Toppings </h1>
   </div>
   <div class="menu-items">
       <ul> 
          <% @options.each do |p| %>
        <li><p> <%= p.name %> </p></li> 
         <% end %>
      </ul>
   </div>
   <div class="checkout-button">
      <p> Checkout </p>
   </div>
</div>
 -->
