<div id="inner-shield-6">
      <div id="inner-shield-5">
         <div id="inner-shield-4">
           <div id="inner-shield-3">  
             <div id="inner-shield-2">
               <div id="inner-shield-1">
                  <div class="image-content">  
                      <div class="space"></div>
                      <img class="white-bread", src="white-bread.png">
                      <img class="chicken", src="chicken.png">
                      <img class="onion", src="onions.png">
                      <%= ketchup_svg %>
                      <img class="trans-bread", src="transparent_bread.png">
                      <img class="bread-bite", src="transparent_bread-bite.png">
                      <h2 class="tlt"> Feed.Me  </h2>

                  </div>
               </div>   
             </div>  
           </div> 
         </div>
      </div>
   </div>
