#logo {
  width: 400px;
  height: 400px;
  background-color:lighten(purple, 20%);
  position: absolute;
  left: 10px;
  top: 300px;
  z-index: 5000;
  }

#wrapper {
  width: 1400px;
  height: 768px;
  overflow: scroll;
}


#inner-shield-1{
  background-color: lighten(grey, 5%);
  height: 768px;
  width: 1400px;
  position: absolute;
  left: 0px;
}

#inner-shield-2{
  background-color: lighten(grey, 10%);
  height: 768px;
  width: 1400px;
  position: absolute;
  left:1400px;
}
  
#inner-shield-3{
  background-color: lighten(grey, 15%);
  height: 768px;
  width: 1400px;
  position: absolute;
  left: 2800px;
}

#inner-shield-4{
  background-color: lighten(grey, 20%);
  height: 768px;
  width: 1400px;
  position: absolute;
  left: 4200px;
}


#inner-shield-5{
  background-color: lighten(grey, 25%);
  height: 768px;
  width: 1400px;
  position: absolute;
  left: 5600px;
}

#inner-shield-6{
  background-color: lighten(grey, 30%);
  height: 768px;
  width: 1400px;
  position: absolute;
  left: 7000px;
}

#inner-shield-7{
  background-color: lighten(grey, 35%);
  height: 768px;
  width: 1400px;
  position: absolute;
  left: 8400px;
}




