#wrapper {
   @include outer-container(100%);
    background-color: lightblue; 
}

#animated-content {
   margin-top: 100px;
   width: 100%;
   height: 500px;
   text-align: center;


      .start-order{   
         width: 100%;
         position: absolute;
       top: 100px;

        .menu-items ul {
            cursor: pointer;
           margin-top: 400px;
            @include span-columns(12 of 12);
         }

         li {
            @include span-columns (3 of 12);
            display: inline-block;
         }
      }
      
      .base {   
        cursor: pointer;
         width: 100%;
         position: absolute;
         top: 100px;
         .menu-items ul {
           margin-top: 400px;
            @include span-columns(12 of 12);
         }

         li {
            @include span-columns (4 of 12);
            display: inline-block;
         }
      }
    
      .protein {   
         cursor: pointer;         
         width: 100%;
         position: absolute;
         top: 100px;
         .menu-items ul {
           margin-top: 400px;
            @include span-columns(12 of 12);
         }

         li {
            @include span-columns (2.4 of 12);
            display: inline-block;
         }
      }

      .toppings {   
        cursor: pointer;
         width: 100%;
         position: absolute;
         top: 100px;
         .menu-items ul {
           margin-top: 400px;
            @include span-columns(12 of 12);
         }

         li {
            @include span-columns (2 of 12);
            display: inline-block;
         }
      }

    
    
}